#left {

  #tl_navigation {

    #accounts {

      .member_import {
         display: none;
      }
    }
  }
}

#tl_buttons {

  ul.menu {
    display: inline-block;
    position: relative;
    cursor: pointer;

    ul {
      display: none;
      position: absolute;
      left: -9999px;
      top: -9999px;
      width: 100%;
      float: none;
      border: 1px solid #ddd;
      background: #f3f3f5;
      text-align: left;
      padding-right: 14px;

      li {
        padding: 6px;
        margin-right: -14px;

        &:hover {
          background: #fffce1;
        }

        .navigation {
          padding: 3px 0 3px 21px;
          background-position: left center;
          background-repeat: no-repeat;
          margin: 3px;

          &.settings {
            background-image: url("/system/themes/flexible/icons/settings.svg");
          }

          &.import {
            background-image: url("/system/themes/flexible/icons/store.svg");
          }
        }
      }
    }

    &:hover,
    > li:hover {

      ul,
      & + ul {
        display: inherit;
        left: -8px;
        top: 20px;
      }
    }
  }
}
